@import url('/css/style.css');

/* top-nav */
.top-nav {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* section */
section {
  box-sizing: border-box;
  height: calc(100vh - 50px);
}

.account {
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.account h1 {
  font-size: 38px;
  font-weight: normal;
  text-align: center;
}

.account-form span {
  font-weight: 400;
  display: block;
  margin-bottom: 2px;
}

.account-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.account-form input:last-child {
  margin-top: 40px;
  background-color: crimson;
  border: none;
  color: #eee;
  font-weight: 600;
}

.account-footer {
  text-align: center;
}