<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/boards/fragments.html::editHead('form')}"></head>

<body>

  <div th:replace="~{/boards/fragments.html::board-top-nav}"></div>

  <!-- 제목, 글 내용 입력 -->
  <div class="container">
    <form class="board">
      <input type="text" id="title"  class="title" placeholder="제목" required
             title="제목은 공백일 수 없습니다.">
      <textarea name="content" class="content" cols="30" rows="10"></textarea>
      <button type="button" th:onclick="addBoard()">저장</button>
    </form>
  </div>

  <!-- CK Editor script-->
  <script th:src="@{/js/ck.js}"></script>
  <script type="application/javascript">
    const csrfToken = document.getElementsByName("_csrf")[0].value;
    const titleComp = document.getElementById("title");
    const contentComp = document.querySelector(".ck-content");

    const addBoard = () => {
      const commentAddForm = {
        title : titleComp.value,
        contents : contentComp.innerHTML
      }

      fetch("/boards/add", {
        method: "POST",
        headers: {
          "Content-Type" : "application/json",
          'X-CSRF-TOKEN' : csrfToken,
        },
        body: JSON.stringify(commentAddForm)
      })
      .then(res => {
        res.json().then(data => {
          alert(data.message);
          if (res.ok) location.href = `/boards/${data.data}`;
        });
      })
    }
  </script>


</body>

</html>