@import url('/css/style.css');

/* top-nav */
.top-nav {
  background-color: #fff;
  line-height: 50px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  /*justify-content: space-between;*/
}

.top-nav>a {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  margin-right: 30px;
}

.top-nav .account {
  position: absolute;
  right: 10px;
}

.menu a,
.account a,
.account button {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}

.account form {
  display: inline-block;
}

.account form button {
  border: none;
  background-color: white;
}

/* container */
.container {
  width: 100%;
  height: calc(100vh - 70px);
  text-align: center;
}

.boards-nav,
.boards,
.page-nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

.boards-nav {
  margin-top: 50px;
}

.search-form * {
  height: 30px;
}

.search-form #searchOption {
  width: 100px;
}

.search-form #searchWord {
  width: 300px;
  margin-right: 5px;
}

.search-form .search-form-btn{
  width: 80px;
  border: none;
  background-color: crimson;
  color: white;
}

.boards-nav a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  color: #eee;
  background-color: crimson;
  font-size: 18px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
}

.boards {
  height: 600px;
}

.empty-board {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.board {
  display: flex;
  align-items: center;
  border-bottom: 1px solid crimson;
  height: 60px;
  text-align: left;
}

.board .board-left {
  width: 65%;
  padding-left: 10px;
}

.board .board-right {
  width: 35%;
}

.board .board-right .board-right-top span {
  display: inline-block;
  margin-right: 20px;
}

.board .board-right .board-right-bottom span {
  display: inline-block;
  margin-right: 20px;
}

.no {
  margin: 0;
}

.page-nav {
  height: 50px;
  line-height: 50px;
}

.page-nav a {
  margin: auto 5px;
}

.page-nav .select-page {
  color: crimson;
}