<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="top-nav">
    <!--/* 로그인 상태 x */-->
    <button th:onclick="|location.href='@{/login}'|" sec:authorize="!isAuthenticated()">로그인</button>
    <button th:onclick="|location.href='@{/account/sign-up}'|" sec:authorize="!isAuthenticated()">회원가입</button>

    <!--/* 로그인 상태 o */-->
    <button th:onclick="|location.href='@{/account}'|" sec:authorize="isAuthenticated()">내 계정</button>
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <button type="submit">로그아웃</button>
    </form>
</div>

<a class="title" th:href="@{/boards}">Ruby's Board</a>

</body>

</html>