<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/account/account.css}">
</head>

<!-- nav -->
<div th:fragment="top-nav (btn)" class="top-nav">
    <a th:href="@{/}" class="home">Ruby's Board</a>
    <button th:if="${btn}" th:onclick="|location.href='@{/account/logout}'|" class="logout"
            sec:authorize="isAuthenticated()">
        로그아웃
    </button>
</div>


</html>