<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments :: head}"></head>

<body>
  <div th:replace="~{/account/fragments :: top-nav (false)}"></div>
  <section>
    <div class="account">
      <h1>로그인</h1>
      <form class="account-form" th:action="@{/login}" method="post">
        <label for="email">Email</label>
        <!--/* 스프링 시큐리티에서 username 으로 받으므로 name 값을 username 으로 설정 */-->
        <input type="email" id="email" name="username" placeholder="email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="50"
               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,50}$"
               title="8~50자 영문, 숫자, 특수문자만 입력할 수 있습니다. 비밀번호는 적어도 하나 이상의 영문, 숫자, 특수문자를 모두 포함해야 합니다."
               placeholder="password" required>
        <input type="checkbox" id="rememberMe" name="remember-me" />
        <label for="rememberMe">로그인 상태 유지</label>
        <input type="submit" value="로그인">
      </form>
      <div class="account-footer">
        <a th:href="@{/account/password-reset}">비밀번호 찾기</a> |
        <a th:href="@{/account/sign-up}">회원가입</a>
      </div>
    </div>
  </section>

</body>

</html>