<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments :: head}"></head>

<body>
  <div th:replace="~{/account/fragments :: top-nav (false)}"></div>
  <section>
    <div class="account">
      <h1>로그인</h1>
      <form class="account-form" action="">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="로그인">
      </form>
      <div class="account-footer">
        <a th:href="@{/account/password-reset}">비밀번호 찾기</a> |
        <a th:href="@{/account/sign-up}">회원가입</a>
      </div>
    </div>
  </section>
</body>

</html>