<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Board</title>
  <link rel="stylesheet" th:href="@{/css/account/account.css}">
  <link rel="icon" th:href="@{/img/rubyImg.jpeg}">
</head>

<body>
  <div class="top-nav">
    <!-- 메인 페이지 이동 -->
    <a th:href="@{/}" class="home">Ruby's Board</a>
  </div>
  <section>
    <div class="account">
      <h1>로그인</h1>
      <form class="account-form" action="">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="로그인">
      </form>
      <div class="account-footer">
        <a th:href="@{/account/password-reset}">비밀번호 찾기</a> |
        <a th:href="@{/account/sign-up}">회원가입</a>
      </div>
    </div>
  </section>
</body>

</html>