<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments :: head}"></head>

<body>
  <div th:replace="~{/account/fragments :: top-nav (false)}"></div>
  <section>
    <div class="account">
      <h1>비밀번호 찾기</h1>
      <form class="account-form" action="">
        <span>사용자 계정의 확인된 이메일 주소를 입력하면 비밀번호 재설정 링크를 보내드립니다.</span>
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="비밀번호 재설정 이메일 보내기">
      </form>
    </div>
  </section>
</body>

</html>