<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments :: head}"></head>

<body>
<div th:replace="~{/account/fragments :: top-nav (false)}"></div>
<div th:replace="~{/fragments :: email-verified-alert}"></div>
<section>
    <div class="account">
        <h1>비밀번호 찾기</h1>
        <form class="account-form" th:action th:object="${passwordForgetForm}" th:method="post">
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" placeholder="email" required>
            <div class="field-error" th:errors="*{email}" />
            <p th:if="${!#strings.isEmpty(sendEmail)}">비밀번호 변경 링크가 이메일로 전송되었습니다.</p>
            <input type="submit" value="이메일로 링크 보내기">
        </form>
    </div>
</section>

</body>

</html>