<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Board</title>
  <link rel="stylesheet" th:href="@{/css/account/account.css}">
  <link rel="icon" th:href="@{/img/rubyImg.jpeg}">
</head>

<body>
  <div class="top-nav">
    <!-- 메인 페이지 이동 -->
    <a th:href="@{/}" class="home">Ruby's Board</a>
  </div>
  <section>
    <div class="account">
      <h1>비밀번호 찾기</h1>
      <form class="account-form" action="">
        <span>사용자 계정의 확인된 이메일 주소를 입력하면 비밀번호 재설정 링크를 보내드립니다.</span>
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="비밀번호 재설정 이메일 보내기">
      </form>
    </div>
  </section>
</body>

</html>