<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments :: head}"></head>

<body>
  <div th:replace="~{/account/fragments :: top-nav (false)}"></div>
  <div th:replace="~{/fragments :: email-verified-alert}"></div>
  <section>
    <div class="account">
      <h1>비밀번호 변경</h1>
      <form class="account-form" th:action th:object="${passwordResetForm}" th:method="post">
        <input th:if="*{id != null}" th:field="*{id}" th:value="*{id}" type="hidden">
        <!--/* 비밀번호 변경 */-->
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" minlength="8" maxlength="50"
               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,50}$"
               title="8~50자 영문, 숫자, 특수문자만 입력할 수 있습니다. 비밀번호는 적어도 하나 이상의 영문, 숫자, 특수문자를 모두 포함해야 합니다."
               placeholder="새 패스워드를 입력하세요." required
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}" />
        <label for="passwordConfirm">비밀번호 확인</label>
        <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" minlength="8" maxlength="50"
               pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,50}$"
               title="8~50자 영문, 숫자, 특수문자만 입력할 수 있습니다. 비밀번호는 적어도 하나 이상의 영문, 숫자, 특수문자를 모두 포함해야 합니다."
               placeholder="새 패스워드를 다시 한 번 입력해주세요." required>
        <div class="field-error" th:errors="*{passwordConfirm}" />
        <input type="submit" value="비밀번호 변경">
      </form>
    </div>
  </section>
</body>

</html>