<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/account/fragments.html::head}"></head>

<body>
<div th:replace="~{/account/fragments.html::top-nav(false)}"></div>
<div th:replace="~{/fragments.html::email-verified-alert}"></div>

<div class="profile-container">
    <img th:if="${#strings.isEmpty(infoAccount.profileImage)}" style="background-color: #ffffff;"/>
    <img th:if="${!#strings.isEmpty(infoAccount.profileImage)}" th:src="${infoAccount.profileImage}" />

    <div class="profile-account">
        <span class="nickname" th:text="${infoAccount.nickname}"></span>
        <button class="profile-edit-btn" th:if="${isOwner}" th:onclick="|location.href='@{/account/profile}'|">프로필 수정</button>
        <button class="password-edit-btn" th:if="${isOwner}" th:onclick="|location.href='@{/account/password-reset}'|">비밀번호 변경</button>
        <p th:if="${isOwner}" th:text="${infoAccount.email}"></p>
        <p th:if="${!#strings.isEmpty(infoAccount.bio)}" th:text="${infoAccount.bio}"></p>
    </div>

    <!--/* 작성자의 작성글 목록 */-->
    <div class="boards">
        <div class="board" th:each="board : ${boards}">
            <div class="board-left">
                <p class="no" th:text="${board.boardId}">10412</p>
                <a th:href="|@{/boards/}${board.boardId}|" th:text="${board.title}">글 제목입니다.</a>
            </div>
            <div class="board-right">
                <div class="board-right-top">
                    <span th:text="|댓글 : ${board.replyCount}|">댓글 3</span>
                    <span th:text="|추천수 : ${board.recommend}|">추천수 5</span>
                    <span th:text="|조회수 : ${board.visited}|">조회수 10</span>
                </div>
                <div class="board-right-bottom">
                    <!-- TODO - 작성자 클릭 시 작성자의 프로필 조회 화면으로 이동 -->
                    <span th:text="|작성자 : ${board.nickname}|">작성자 : Ruby</span>
                    <span th:text="|작성일 : ${board.createAt}|">작성일 : 2022-05-31</span>
                </div>
            </div>
        </div>

    </div>

    <div class="page-nav" th:if="${boards.size > 0}" th:object="${boardSearchForm}">
        <a th:if="${paging.start >= 10}"
           th:href="|@{/account/}${infoAccount.id}?pageNum=0&searchOption=NICKNAME&searchWord=${infoAccount.nickname}|">&lt;&lt;</a>
        <a th:if="${paging.start >= 10}"
           th:href="|@{/account/}${infoAccount.id}?pageNum=${paging.start - 1}&searchOption=NICKNAME&searchWord=${infoAccount.nickname}|">이전</a>

        <a th:class="${paging.now == num ? 'select-page' : 'none-select-page'}"
           th:each="num : ${#numbers.sequence(paging.start, paging.end)}"
           th:href="|@{/account/}${infoAccount.id}?pageNum=${num}&searchOption=NICKNAME&searchWord=${infoAccount.nickname}|" th:text="${num + 1}"></a>

        <a th:if="${paging.end < paging.totalEnd}"
           th:href="|@{/account/}${infoAccount.id}?pageNum=${paging.end + 1}&searchOption=NICKNAME&searchWord=${infoAccount.nickname}|">다음</a>
        <a th:if="${paging.end < paging.totalEnd}"
           th:href="|@{/account/}${infoAccount.id}?pageNum=${paging.totalEnd}&searchOption=NICKNAME&searchWord=${infoAccount.nickname}|">&gt;&gt;</a>
    </div>
</div>

</body>

</html>