<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Board</title>
  <link rel="stylesheet" href="/css/account/account.css ">
  <link rel="icon" href="/img/rubyImg.jpeg">
</head>

<body>
  <div class="top-nav">
    <!-- 메인 페이지 이동 -->
    <a href="/index.html">Ruby's Board</a>
  </div>
  <section>
    <div class="account">
      <h1>회원가입</h1>
      <form class="account-form" action="">
        <span>Email</span>
        <input type="email" name="email" id="" placeholder="email">
        <span>Nickname</span>
        <input type="text" name="nickname" id="" placeholder="nickname">
        <span>password</span>
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="회원가입">
      </form>
    </div>
  </section>
</body>

</html>