<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Board</title>
  <link rel="stylesheet" th:href="@{/css/account/account.css}">
  <link rel="icon" th:href="@{/img/rubyImg.jpeg}">
</head>

<body>
  <div class="top-nav">
    <!-- 메인 페이지 이동 -->
    <a th:href="@{/}">Ruby's Board</a>
  </div>
  <section>
    <div class="account">
      <h1>회원가입</h1>
      <form class="account-form" action="">
        <span>Email</span>
        <input type="email" name="email" placeholder="email">
        <span>Nickname</span>
        <input type="text" name="nickname"placeholder="nickname">
        <span>password</span>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="회원가입">
      </form>
    </div>
  </section>
</body>

</html>